.container {
    border: 1px solid #e0e0e0;
    border-radius: 12px;
    padding: 16px;
    box-shadow: 0 4px 6px rgba(0, 0,
        0, 0.1);
    background-color: #fff;
    transition: box-shadow 0.2s ease;
    max-width: 150px;
    width: fit-content;
    word-break: break-word;
}

.title {
    font-size: 1.5rem;
    margin-bottom: 8px;
    color: #333;
}


.details {
    font-size: 1rem;
    color: #666;
    margin-bottom: 12px;
    border: 1px solid #333;
}

.detail {
    margin: 10px;
}

.truncate-multi-line {
  display: -webkit-box;
  -webkit-line-clamp: 5;
  line-clamp: 5;
  -webkit-box-orient: vertical;
  overflow: hidden;
  text-overflow: ellipsis;
  max-width: 300px;
}

.container:hover {
    box-shadow: 0 8px 12px rgba(0, 0,
        0, 0.15);
}